
{% extends 'calendar.html' %}

{% block content %}
    <h1>Termin erstellen</h1>
    <h2>{{ _('Geben Sie das Datum im Format YYYY-MM-DD ein:') }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.start_date.label(class="form-control-label") }}
            {{ form.start_date(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.end_date.label(class="form-control-label") }}
            {{ form.end_date(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.private.label(class="form-check-label") }}
            {{ form.private(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

{% endblock %}
