{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - FSI App{% else %}{{ _('Willkommen zur App von Florian') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">FSI App</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('calendar') }}">{{ _('Calendar') }} </a></li>
                    <li><a href="{{ url_for('calendar_priv') }}">{{ _('Calendar - Privat') }} </a></li>
                    <li><a href="{{ url_for('add_event') }}">Add event</a></li>

                </ul>
                <!--Benutzer Dropdown, damit es unterschiedlich aussieht, 
                wenn ich mich anmelde und wenn ich angemeldet bin. -->
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">{{current_user.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                            <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <!--Wenn der Benutzer noch nicht angemeldet ist-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
                </ul>
                {% endif %}

            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
