{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset='utf-8' />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js"></script>
</head>

<h1>Calendar</h1>

<button id="addEventButton">Add event</button>

<div id="calendar"></div>

<!-- Knopf zum Hinzufügen von Terminen -->



{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            
            var calendar = new FullCalendar.Calendar(calendarEl, {

                events: '/events_priv', // Pfad zur get_events-Route, um Veranstaltungen abzurufen

                views: {
                timeGridFourDay: {
                    type: 'timeGrid',
                    duration: { days: 7 },
                    buttonText: '7 Tage'
                },
                dayGridMonth: {
                    type: 'timeGrid',
                    buttonText: 'Monat'
                }
                },

                eventTimeFormat: { 
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    meridiem: false,
                    hour12: false
                }
                
            });
            calendar.render();

            // Funktion um zur Seite der Erstellung der Termine zu gelangen
        document.getElementById('addEventButton').addEventListener('click', function() {
            var addEventButton = document.getElementById('addEventButton');
            addEventButton.addEventListener('click', function() {
                window.location.href = '/calendar/add_event';
            });
        });
    });

    </script>
{% endblock %}